.heading {
  font-size: 16px;
  color: #07070d;
  font-weight: 700;
  line-height: 16px;
  font-style: normal;
  font-family: 'DM Sans';
}

.balance {
  font-size: 34px;
  color: #07070d;
  font-weight: 700;
  line-height: 44px;
  font-style: normal;
  font-family: 'DM Sans';
}

.stack {
  font-size: 16px;
  color: #07070d;
  font-weight: 400;
  line-height: 16px;
  font-style: normal;
  font-family: 'DM Sans';
}
