.container {
  padding: 0 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 0;
  height: 90px;
  width: 100%;
  text-align: left;
}

.header > img {
  width: 50px;
  height: 50px;
}

.header h3 {
  color: #fff;
}

.header h3 span {
  color: #00ffc2;
}

.footer {
  display: flex;
  flex: 0;
  padding: 2rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0d76fc;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 2rem;
  line-height: 1;
  font-size: 2.5rem;
  color: #9764ea;
  font-weight: 500;
  font-style: italic;
}

.title span {
  color: #9764ea;
  background-color: #00ffc2;
  background-image: linear-gradient(45deg, #17c199, #26afee);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 750px;
  width: 100%;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.claimButton {
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  transition: all 0.1s linear;
  cursor: pointer;
  padding: 0 30px;
  height: 55px;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 900;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: #00ffc2;
  border-radius: 5px;
  transform: scale(1);
}

.claimButton:hover {
  background: #b2ffed;
  transform: scale(1.1);
}

.claimButton:focus,
.claimButton:active {
  background: #17c199;
  transform: scale(1);
}

.cardRight {
  margin-left: auto;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
}

.airdropBalance {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  font-family: 'Roboto Mono', 'Roboto', -apple-system, BlinkMacSystemFont,
    Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: rgba(0, 255, 194, 0.6);
}

.airdropBalance span {
  color: #00ffc2;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
