@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'DM Sans; Roboto';
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url('../assets/background.png');
  background-size: cover;
  background-repeat: repeat-y;
  color: #ffffff;
  max-width: 1800px;
}
